/*中间样式*/
#middle{width:1280px; height:840px}
#middle ul{width:1280px; height:auto; float:left; margin-top:100px}
#middle ul li{width:353px; height:auto; float:left;  margin-left:20px }
#middle ul li.text_li1{margin-left:60px}
#middle ul li.text_li3{margin-left:60px}
/*中间样式--左边*/
#middle ul li h1{color:#FFFFFF; font-size:50px}
#middle ul li h3{color:#FFFFFF; margin-top:10px}
#middle ul li h4{color:#FF00FF; margin-top:10px}
/*中间样式--左边--end*/
/*中间样式--中间*/
#middle ul li.text_li1 ul{width:353px; height:auto; float:left; margin-top:0px}
#middle ul li.text_li1 ul li.text_li2{width:353px; height:120px;border-bottom:#666666 2px dashed; float:left; text-align:center}
#middle ul li.text_li1 ul li.text_li2 h2{color:#F09; font-size:30px}
/*中间样式--中间--end
/*中间样式--右边*/
#middle ul li.text_li3 ul{width:353px; height:auto;  margin-top:0px; float:left}
#middle ul li.text_li3 ul li{width:353px; height:200px;  float:left; margin-left:0; margin-top:20px}
#middle ul li.text_li3 ul li #box{float:left; margin-top:33px; border:#FFF 3px solid; margin-right:10px; width:200px; height:133px; 
									position:relative; overflow:hidden; perspective:600px; background:url(../img/event3.jpg)}
#middle ul li.text_li3 ul li #box .front{ position:absolute; transform-origin:0; transform:rotateY(0); transition:all 2s;-moz-transition:all 2s;-ms-transition:all 2s;-o-transition:all 2s;-webkit-transition:all 2s; }
#middle ul li.text_li3 ul li #box .back{ position:absolute; transform-origin:0; transform:rotateY(180deg); transition:all 2s;-moz-transition:all 2s;-ms-transition:all 2s;-o-transition:all 2s;-webkit-transition:all 2s;}
#middle ul li.text_li3 ul li #box:hover .front{transform:rotateY(180deg);-moz-transform:rotateY(180deg);-ms-transform:rotateY(180deg);-o-transform:rotateY(180deg);-webkit-transform:rotateY(180deg); }
#middle ul li.text_li3 ul li #box:hover .back{transform:rotateY(360deg);-moz-transform:rotateY(360deg);-ms-transform:rotateY(360deg);-o-transform:rotateY(360deg);-webkit-transform:rotateY(360deg);}
#middle ul li.text_li3 ul li h5{color:#FFF; margin-top:33px}
/*中间样式--右边--end*/

/*中间样式--end*/